body {
background-color: grey;
display: flex;
justify-content: center;
align-items: center;
}

button  {
  width: 200px;
  height: 50px;
  margin: 30px;
  border-radius: 30px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

button:hover {
  transform: translateY(-10px);
}
button.size {
 background-color: azure;
}

button.change {
  background-color: lavender;
}

button.reset {
  background-color: antiquewhite;
}

.container {
  display: grid;
  background-color: aliceblue;
  border: 1px black;
  top: 30px;
  margin: 0 auto;
}