body {
background-color: rgb(167, 160, 160);
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
}

button  {
  width: 200px;
  height: 50px;
  margin: 30px;
  border-radius: 30px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

button:hover {
  transform: translateY(-10px);
}
button.size {
 background-color: azure;
}

button.change {
  background-color: lavender;
}

button.reset {
  background-color: antiquewhite;
}

.container { display: flex; flex-wrap: wrap; width: 650px; height: 650px; }
.grid-item { width: calc(100% / 16); height: calc(100% / 16); box-sizing: border-box; border: 1px solid whitesmoke; }
